@using Mvc5OnlineTicariOtomasyon.Models.Siniflar
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/style/style.css" rel="stylesheet" />
</head>
<body>
    <br />
    <h2>Departmanlar</h2>
    <br />
    <table class="table table-bordered" , style="margin-top:20px">
        <tr>
            <td><h5>ID</h5></td>
            <td><h5>Departman Adı</h5></td>
            <td><h5>Durum</h5></td>
            <td><h5>Sil</h5></td>
            <td><h5>Güncelle</h5></td>
            <td><h5>Detaylar</h5></td>
        </tr>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.DepartmanId</td>
                <td>@d.DepartmanAd</td>
                <td>@d.Durum</td>
                <td>
                    <a href="/Departman/DepartmanSil/@d.DepartmanId" class="btn btn-danger">Sil</a>
                </td>
                <td>
                    <a href="/Departman/DepartmanGuncelle/@d.DepartmanId" class="btn btn-success">Guncelle</a>
                </td>
                <td>
                    <a href="/Departman/DepartmanDetay/@d.DepartmanId" class="btn btn-info">Detaylar</a>
                </td>
            </tr>
        }

    </table>
    <a href="/Departman/DepartmanEkle" class="button"><span>Yeni Departman Ekle</span></a>
</body>