@model Mvc5OnlineTicariOtomasyon.Models.Siniflar.DropDownListClass
@{
    ViewBag.Title = "DropDownListKategoriUrun";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>$(function () {

        $('#DrpKategori').change(function () {

            var id = $('#DrpKategori').val();

            $.ajax({

                url: '/Kategori/KategoriyeGoreUrunGetir',

                data: { p: id },

                type: "POST",

                dataType: "Json",

                success: function (data) {

                    console.log(data);

                    $('#DrpUrun').empty();

                    for (var i = 0; i < data.length; i++) {

                        $('#DrpUrun').append("<option value='" + data[i].Value + "'>" + data[i].Text + "</Option>");

                    }

                }

            });

        });

    });</script>
@Html.Label("Kategoriler")
@Html.DropDownList("DrpKategori", Model.Kategoriler, "Kategori Seçiniz", new { @class = "form-control" })

@Html.Label("Urunler")
@Html.DropDownList("DrpUrun", Model.Urunler, "Urun Seçiniz", new { @class = "form-control" })
